* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: #af2b2b;
}

.block-text {
    text-align: center;
}

.block-text > p {
    font-size: 30px;
    font-weight: 700;
}

.figures {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
.block {
    height: 200px;
    width: 200px;
    border: 5px solid red;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    border: 5px solid blue;
    cursor: pointer;
}

img {
    height: 150px;
    animation-duration: 1s;
    animation-name: bigImg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bigImg {
    from {
        height: 150px;
    }
    to {
        height: 165px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
}

footer > p {
    font-size: 20px;
}